.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__form {
        flex-basis: 65%;
      }
    &__address {
        flex-basis: 30%;
        margin: 90px 0;
        line-height: 22px;
        color: #333;
    &__address-item {
         border-bottom: 1px dashed #ddd;
         padding: 5px;
        }
        &:last-child{
            border-bottom: 0;
        }
      }
    &__input {
        width: 100%;
        padding: 10px;
        font-size: 18px;
        margin-bottom: 10px;
        border-radius: 3px;
      }
    &__message {
        width: 100%;
        padding: 10px;
        font-size: 18px;
        margin-bottom: 10px;
        border-radius: 3px;
      }
    &__submit {
        display: auto;
        display: inline-block;
        padding: 10px 30px;
        background-color: tomato;
        color: white;
        font-size: 18px;
        border: 0;
        border-radius: 3px;
        transition: .3s;
        &:hover{
            background-color: turquoise;
        }
      }
  }
  
  .map {
    margin: 40px 0;
    &__address {
        width: 100%;
        height: 300px;
        border: 1px solid #ddd;
        border: 1px solid #ddd;
        padding: 3px;
    }
    
  }
 