

  .footer {
    background-color: #333;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    &__text {
        color: #fff;
      }
  }
  