
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
    padding: 20px 20px;
    &__logo {
      flex-basis: 20%;
      
    }
    &__menu {
      flex-basis: 75%;
      
    }
    &__menu-box {
      text-align: right;
   
    }
    &__menu-item {
      display: inline-block;
      margin-left: 30px;
    }
    &__menu-link {
      font-size: 23px;
      transition: .3s;
      font-weight: 600px;
      &:hover {
        color: tomato;
      }
    }
  }
 